body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame, img.Basic-Text-Frame {
	border-style:solid;
}
p.Normal {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Normal--Web- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:5px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.TOC-Heading {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Art-Captions {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:12px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Bios {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Body-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:24px;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Interview-Paragraphs {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:36px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-36px;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Page-Headings--titles- {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.917;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Running-Header {
	color:#414042;
	font-family:Times, serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.secondAuthors {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:72px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-36px;
	text-transform:none;
	widows:1;
}
p.secondTitles {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:36px;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-24px;
	text-transform:none;
	widows:1;
}
p.usetheseAuthors {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:72px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-36px;
	text-transform:none;
	widows:1;
}
p.usetheseTitles {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:36px;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-24px;
	text-transform:none;
	widows:1;
}
span.Author-Name {
	font-family:"Kannada MN", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.Drop-Cap {
	font-family:"Bell MT Regular", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.LeadPageAuthors {
	font-family:"Kannada MN", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.LeadPageTitles {
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.TOC-page-numbers {
	font-family:"Minion Pro", serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-2 {
	text-align:center;
}
p.ParaOverride-3 {
	text-align:right;
}
p.ParaOverride-4 {
	-epub-hyphens:none;
}
p.ParaOverride-5 {
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-6 {
	-epub-hyphens:none;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-7 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-8 {
	margin-left:12px;
}
p.ParaOverride-9 {
	margin-left:5px;
	margin-right:5px;
}
p.ParaOverride-10 {
	margin-left:14px;
}
p.ParaOverride-11 {
	text-align:justify;
	text-align-last:justify;
}
p.ParaOverride-12 {
	text-align:justify;
	text-align-last:center;
}
p.ParaOverride-13 {
	text-align:justify;
	text-align-last:center;
	text-indent:0px;
}
p.ParaOverride-14 {
	text-indent:0px;
}
span.CharOverride-1 {
	color:#07352b;
	font-family:"Kannada MN", sans-serif;
	font-size:80px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#211b0f;
}
span.CharOverride-3 {
	color:#211b0f;
	font-size:12px;
}
span.CharOverride-4 {
	color:#211b0f;
	font-variant:small-caps;
	text-transform:none;
}
span.CharOverride-5 {
	color:#211b0f;
	font-size:12px;
	font-variant:small-caps;
	text-transform:none;
}
span.CharOverride-6 {
	font-family:"Minion Pro Bold Cond Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-7 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-8 {
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-9 {
	font-family:"Minion Pro Italic", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-family:"Times New Roman", serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-12 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	font-family:"Kannada MN", sans-serif;
	font-size:30px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-15 {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-17 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-18 {
	font-family:"Minion Pro Italic", sans-serif;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
}
span.CharOverride-19 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:underline;
	text-transform:none;
}
span.CharOverride-20 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-21 {
	font-size:11px;
}
span.CharOverride-22 {
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-23 {
	font-family:"Kannada MN", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-24 {
	font-family:"Kannada MN", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-25 {
	font-size:13px;
}
span.CharOverride-26 {
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-27 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-28 {
	text-decoration:underline;
}
span.CharOverride-29 {
	font-family:"Minion Pro", serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-30 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-31 {
	font-size:10px;
}
span.CharOverride-32 {
	font-size:23px;
}
span.CharOverride-33 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-34 {
	font-size:12px;
}
span.CharOverride-35 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-36 {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
}
span.CharOverride-37 {
	font-family:"Minion Pro Bold", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-38 {
	color:#000000;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-39 {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-40 {
	color:#000000;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:underline;
	text-transform:none;
}
span.CharOverride-41 {
	font-family:"Minion Pro", serif;
	font-size:58%;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-42 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-43 {
	font-size:18px;
}
span.CharOverride-44 {
	font-family:"Minion Pro Bold Cond", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-45 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-46 {
	font-family:"Times New Roman", serif;
	font-size:10px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-47 {
	font-size:10px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-48 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-49 {
	font-size:11px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-50 {
	font-family:Consolas, sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-51 {
	color:#25408f;
	font-family:Consolas, sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
}
span.CharOverride-52 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:underline;
	text-transform:none;
}
span.CharOverride-53 {
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-54 {
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-55 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:30px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-56 {
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
}
span.CharOverride-57 {
	color:#000000;
}
span.CharOverride-58 {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-59 {
	font-variant:normal;
	text-transform:uppercase;
}
span.CharOverride-60 {
	color:#000000;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-61 {
	font-size:16px;
}
span.CharOverride-62 {
	font-family:"Times New Roman", serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-63 {
	font-family:"Times New Roman", serif;
	font-size:14px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-64 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	vertical-align:super;
}
span.CharOverride-65 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-66 {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-67 {
	color:#414042;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-68 {
	color:#414042;
	font-size:10px;
}
span.CharOverride-69 {
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-70 {
	font-family:"Times New Roman", serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-71 {
	-webkit-text-combine:none;
	color:#000000;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-72 {
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-73 {
	color:#414042;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-74 {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-75 {
	font-variant:small-caps;
	text-transform:none;
}
._idGenDropcap-1 {
	float:left;
	font-size:2.846em;
	line-height:1;
	margin-bottom:-0.273em;
	margin-right:0.05em;
	margin-top:-0.074em;
}
._idGenDropcap-2 {
	float:left;
	font-family:"Bell MT Regular", sans-serif;
	font-size:2.78em;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:-0.25em;
	margin-right:0.05em;
	margin-top:-0.073em;
}
._idGenDropcap-3 {
	float:left;
	font-family:"Bell MT Italic", sans-serif;
	font-size:2.78em;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:-0.25em;
	margin-right:0.05em;
	margin-top:-0.073em;
}
._idGenDropcap-4 {
	float:left;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:2.78em;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:-0.25em;
	margin-right:0.05em;
	margin-top:-0.073em;
}
#_idContainer000 {
	display:inline-block;
	height:792px;
	width:1224px;
}
#_idContainer001 {
	display:inline-block;
	height:602px;
	width:528px;
}
#_idContainer002 {
	display:inline-block;
	height:502px;
	position:relative;
	width:500px;
}
#_idContainer004, #_idContainer005 {
	display:inline-block;
	height:0px;
	position:relative;
	width:414px;
}
#_idContainer010 {
	display:inline-block;
	height:625px;
	width:531px;
}
#_idContainer016 {
	display:inline-block;
	height:639px;
	width:438px;
}
#_idContainer017 {
	display:inline-block;
	height:637px;
	position:relative;
	width:436px;
}
#_idContainer019 {
	display:inline-block;
	height:791px;
	width:1224px;
}
#_idContainer020 {
	display:inline-block;
	height:3px;
	width:4px;
}
#_idContainer029 {
	display:inline-block;
	height:292px;
	width:363px;
}
#_idContainer032 {
	display:inline-block;
	height:644px;
	width:538px;
}
#_idContainer034, #_idContainer059, #_idContainer076, #_idContainer120, #_idContainer174, #_idContainer248, #_idContainer264, #_idContainer306, #_idContainer327, #_idContainer372 {
	display:inline-block;
	height:86px;
	width:295px;
}
#_idContainer035 {
	display:inline-block;
	height:270px;
	position:relative;
	width:199px;
}
#_idContainer036, #_idContainer079, #_idContainer152, #_idContainer175, #_idContainer189, #_idContainer249, #_idContainer266 {
	display:inline-block;
	height:269px;
	width:201px;
}
#_idContainer038, #_idContainer049 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.00px;
	z-index:0;
}
#_idContainer039 {
	display:inline-block;
	height:12px;
	overflow:hidden;
	position:relative;
	width:138px;
}
#_idContainer045, #_idContainer047 {
	display:inline-block;
	height:0px;
	position:relative;
	width:257px;
}
#_idContainer048 {
	display:inline-block;
	height:271px;
	width:403px;
}
#_idContainer050 {
	display:inline-block;
	height:18px;
	overflow:hidden;
	position:relative;
	width:138px;
}
#_idContainer051 {
	display:inline-block;
	height:301px;
	width:474px;
}
#_idContainer052, #_idContainer116 {
	display:inline-block;
	height:292px;
	width:477px;
}
#_idContainer055, #_idContainer057 {
	display:inline-block;
	height:0px;
	position:relative;
	width:0px;
}
#_idContainer056 {
	display:inline-block;
	height:282px;
	width:432px;
}
#_idContainer060 {
	display:inline-block;
	height:203px;
	width:200px;
}
#_idContainer061 {
	display:inline-block;
	height:201px;
	position:relative;
	width:198px;
}
#_idContainer069 {
	display:inline-block;
	height:325px;
	position:relative;
	width:519px;
}
#_idContainer070, #_idContainer144, #_idContainer276, #_idContainer301 {
	display:inline-block;
	height:327px;
	width:521px;
}
#_idContainer074 {
	display:inline-block;
	height:115px;
	text-align:left;
	width:133px;
}
#_idContainer075 {
	display:inline-block;
	height:115px;
	width:133px;
}
#_idContainer078, #_idContainer151, #_idContainer176, #_idContainer250, #_idContainer265 {
	display:inline-block;
	height:267px;
	position:relative;
	width:199px;
}
#_idContainer086, #_idContainer087 {
	display:inline-block;
	height:0px;
	position:relative;
	width:147px;
}
#_idContainer089 {
	display:inline-block;
	height:345px;
	width:538px;
}
#_idContainer092 {
	display:inline-block;
	height:0px;
	position:relative;
	width:299px;
}
#_idContainer093 {
	display:inline-block;
	height:0px;
	position:relative;
	width:302px;
}
#_idContainer095 {
	display:inline-block;
	height:0px;
	position:relative;
	width:382px;
}
#_idContainer097 {
	display:inline-block;
	height:0px;
	position:relative;
	width:377px;
}
#_idContainer100 {
	display:inline-block;
	height:0px;
	position:relative;
	width:183px;
}
#_idContainer102 {
	display:inline-block;
	height:0px;
	position:relative;
	width:179px;
}
#_idContainer104 {
	display:inline-block;
	height:296px;
	width:526px;
}
#_idContainer107 {
	display:inline-block;
	height:47px;
	width:612px;
}
#_idContainer109 {
	display:inline-block;
	height:269px;
	width:208px;
}
#_idContainer110 {
	display:inline-block;
	height:267px;
	position:relative;
	width:206px;
}
#_idContainer111 {
	display:inline-block;
	height:259px;
	width:465px;
}
#_idContainer118 {
	display:inline-block;
	height:287px;
	width:474px;
}
#_idContainer122 {
	display:inline-block;
	height:241px;
	position:relative;
	width:157px;
}
#_idContainer123 {
	display:inline-block;
	height:243px;
	width:159px;
}
#_idContainer131 {
	display:inline-block;
	height:426px;
	width:540px;
}
#_idContainer133, #_idContainer213, #_idContainer316 {
	display:inline-block;
	height:0px;
	position:relative;
	width:387px;
}
#_idContainer135, #_idContainer214, #_idContainer318 {
	display:inline-block;
	height:0px;
	position:relative;
	width:384px;
}
#_idContainer137 {
	display:inline-block;
	height:73px;
	width:300px;
}
#_idContainer139 {
	display:inline-block;
	height:203px;
	width:171px;
}
#_idContainer140 {
	display:inline-block;
	height:201px;
	position:relative;
	width:169px;
}
#_idContainer145 {
	display:inline-block;
	height:325px;
	width:519px;
}
#_idContainer147, #_idContainer279 {
	display:inline-block;
	height:144px;
	text-align:left;
	width:161px;
}
#_idContainer148 {
	display:inline-block;
	height:148px;
	width:161px;
}
#_idContainer149 {
	display:inline-block;
	height:86px;
	width:300px;
}
#_idContainer158 {
	display:inline-block;
	height:106px;
	width:277px;
}
#_idContainer159 {
	display:inline-block;
	height:95px;
	position:relative;
	width:262px;
}
#_idContainer160 {
	display:inline-block;
	height:186px;
	width:274px;
}
#_idContainer161 {
	display:inline-block;
	height:0px;
	position:relative;
	width:263px;
}
#_idContainer162 {
	display:inline-block;
	height:0px;
	position:relative;
	width:262px;
}
#_idContainer164 {
	display:inline-block;
	height:192px;
	width:274px;
}
#_idContainer166 {
	display:inline-block;
	height:147px;
	width:526px;
}
#_idContainer167 {
	display:inline-block;
	height:198px;
	width:258px;
}
#_idContainer168 {
	display:inline-block;
	height:113px;
	width:502px;
}
#_idContainer169 {
	display:inline-block;
	height:111px;
	position:relative;
	width:500px;
}
#_idContainer171 {
	display:inline-block;
	height:175px;
	width:253px;
}
#_idContainer172 {
	display:inline-block;
	height:170px;
	position:relative;
	width:251px;
}
#_idContainer179 {
	display:inline-block;
	height:282px;
	width:274px;
}
#_idContainer184 {
	display:inline-block;
	height:12px;
	width:14px;
}
#_idContainer187 {
	display:inline-block;
	height:86px;
	width:301px;
}
#_idContainer188 {
	display:inline-block;
	height:268px;
	position:relative;
	width:198px;
}
#_idContainer194 {
	display:inline-block;
	height:20px;
	width:19px;
}
#_idContainer197 {
	display:inline-block;
	height:305px;
	position:relative;
	width:538px;
}
#_idContainer198 {
	display:inline-block;
	height:308px;
	text-align:left;
	width:540px;
}
#_idContainer199 {
	display:inline-block;
	height:308px;
	width:540px;
}
#_idContainer201 {
	display:inline-block;
	height:86px;
	width:282px;
}
#_idContainer202 {
	display:inline-block;
	height:290px;
	position:relative;
	width:207px;
}
#_idContainer203 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:269.44px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:207.60px;
	z-index:0;
}
#_idContainer204 {
	display:inline-block;
	height:269px;
	overflow:hidden;
	position:relative;
	width:208px;
}
#_idContainer207 {
	display:inline-block;
	height:292px;
	width:208px;
}
#_idContainer218, #_idContainer219 {
	display:inline-block;
	height:0px;
	position:relative;
	width:166px;
}
#_idContainer223 {
	display:inline-block;
	height:443px;
	width:519px;
}
#_idContainer228 {
	display:inline-block;
	height:286px;
	width:387px;
}
#_idContainer232, #_idContainer234, #_idContainer244 {
	display:inline-block;
	height:17px;
	width:540px;
}
#_idContainer236 {
	display:inline-block;
	height:253px;
	position:relative;
	width:234px;
}
#_idContainer237 {
	display:inline-block;
	height:255px;
	width:236px;
}
#_idContainer242 {
	display:inline-block;
	height:17px;
	width:17px;
}
#_idContainer246 {
	display:inline-block;
	height:324px;
	width:478px;
}
#_idContainer251 {
	display:inline-block;
	height:269px;
	position:relative;
	width:201px;
}
#_idContainer258 {
	display:inline-block;
	height:211px;
	width:262px;
}
#_idContainer259 {
	display:inline-block;
	height:211px;
	width:260px;
}
#_idContainer260 {
	display:inline-block;
	height:337px;
	width:538px;
}
#_idContainer263 {
	display:inline-block;
	height:792px;
	width:612px;
}
#_idContainer277 {
	display:inline-block;
	height:326px;
	position:relative;
	width:519px;
}
#_idContainer280 {
	display:inline-block;
	height:144px;
	width:161px;
}
#_idContainer281 {
	display:inline-block;
	height:68px;
	width:612px;
}
#_idContainer282 {
	display:inline-block;
	height:268px;
	width:197px;
}
#_idContainer284 {
	display:inline-block;
	height:17px;
	width:13px;
}
#_idContainer289 {
	display:inline-block;
	height:312px;
	width:376px;
}
#_idContainer291 {
	display:inline-block;
	height:8px;
	position:relative;
	width:72px;
}
#_idContainer292 {
	display:inline-block;
	height:254px;
	width:372px;
}
#_idContainer294 {
	display:inline-block;
	height:605px;
	width:521px;
}
#_idContainer296 {
	display:inline-block;
	height:606px;
	width:530px;
}
#_idContainer302 {
	display:inline-block;
	height:324px;
	position:relative;
	width:519px;
}
#_idContainer304 {
	display:inline-block;
	height:138px;
	width:161px;
}
#_idContainer305 {
	display:inline-block;
	height:135px;
	text-align:left;
	width:161px;
}
#_idContainer310 {
	display:inline-block;
	height:267px;
	position:relative;
	width:138px;
}
#_idContainer311 {
	display:inline-block;
	height:269px;
	width:140px;
}
#_idContainer319 {
	display:inline-block;
	height:241px;
	width:387px;
}
#_idContainer322 {
	display:inline-block;
	height:324px;
	width:354px;
}
#_idContainer324 {
	display:inline-block;
	height:348px;
	width:464px;
}
#_idContainer329 {
	display:inline-block;
	height:200px;
	width:201px;
}
#_idContainer337 {
	display:inline-block;
	height:292px;
	width:216px;
}
#_idContainer340 {
	display:inline-block;
	height:0px;
	position:relative;
	width:324px;
}
#_idContainer342 {
	display:inline-block;
	height:0px;
	position:relative;
	width:325px;
}
#_idContainer343 {
	display:inline-block;
	height:240px;
	position:relative;
	width:533px;
}
#_idContainer344 {
	display:inline-block;
	height:240px;
	width:533px;
}
#_idContainer347 {
	display:inline-block;
	height:0px;
	position:relative;
	width:153px;
}
#_idContainer348 {
	display:inline-block;
	height:0px;
	position:relative;
	width:152px;
}
#_idContainer350 {
	display:inline-block;
	height:345px;
	width:539px;
}
#_idContainer353 {
	display:inline-block;
	height:351px;
	width:539px;
}
#_idContainer356 {
	display:inline-block;
	height:211px;
	position:relative;
	width:160px;
}
#_idContainer357 {
	display:inline-block;
	height:211px;
	position:relative;
	width:159px;
}
#_idContainer358 {
	display:inline-block;
	height:213px;
	width:161px;
}
#_idContainer359 {
	display:inline-block;
	height:282px;
	width:423px;
}
#_idContainer367 {
	display:inline-block;
	height:455px;
	width:335px;
}
#_idContainer368 {
	display:inline-block;
	height:252px;
	width:473px;
}
#_idContainer369 {
	display:inline-block;
	height:261px;
	width:473px;
}
#_idContainer374 {
	display:inline-block;
	height:227px;
	width:176px;
}
#_idContainer375 {
	display:inline-block;
	height:224px;
	position:relative;
	width:174px;
}
#_idContainer388 {
	display:inline-block;
	height:200px;
	width:256px;
}
#_idContainer389 {
	display:inline-block;
	height:210px;
	position:relative;
	width:270px;
}
#_idContainer394 {
	display:inline-block;
	height:292px;
	text-align:left;
	width:538px;
}
#_idContainer396 {
	display:inline-block;
	height:217px;
	text-align:left;
	width:501px;
}
#_idContainer398 {
	display:inline-block;
	height:2px;
	position:relative;
	width:0px;
}
#_idContainer402 {
	display:inline-block;
	height:462px;
	width:538px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:20px;
	width:19px;
}
img._idGenObjectAttribute-3 {
	height:158px;
	width:157px;
}
img._idGenObjectAttribute-4 {
	height:22px;
	width:540px;
}
img._idGenObjectAttribute-5 {
	height:24px;
	width:540px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffe1c4;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#51220e;
	border-color:#51220e;
	border-style:solid;
	border-width:3px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#a7bb94;
}
div._idGenObjectStyleOverride-5 {
	background-color:#000000;
	border-width:0px;
}
div._idGenObjectStyleOverride-6 {
	background-color:#d4d4d4;
	border-width:0px;
}
div._idGenObjectStyleOverride-7 {
	background-color:#d4d4d4;
}
div._idGenObjectStyleOverride-8 {
	background-color:#d4d4d4;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
