body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Letter-H_rootstalk_Art-Captions {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:12px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Lead-Pages_Bios {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Lead-Pages_Body-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:24px;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Lead-Pages_Page-Headings--titles- {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.917;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Running-Header {
	color:#414042;
	font-family:Times, serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.TOC-Heading {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Art-Captions {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:12px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Body-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:24px;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Interview-Paragraphs {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:36px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-36px;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Page-Headings--titles- {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.917;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Running-Header {
	color:#414042;
	font-family:Times, serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.usetheseAuthors {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:72px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-36px;
	text-transform:none;
	widows:1;
}
p.usetheseTitles {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:36px;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-24px;
	text-transform:none;
	widows:1;
}
span.Author-Name {
	font-family:"Kannada MN", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.Drop-Cap {
	font-family:"Bell MT Regular", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Hyperlink {
	color:#215e9e;
	text-decoration:underline;
}
span.LeadPageTitles {
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Letter-V_Author-Name {
	font-family:"Kannada MN", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.Letter-V_Drop-Cap {
	font-family:"Bell MT Regular", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Letter-V_LeadPageTitles {
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.TOC-page-numbers {
	font-family:"Minion Pro", serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	text-align:right;
}
p.ParaOverride-3 {
	margin-left:0px;
}
p.ParaOverride-4 {
	background-color:#ffffff;
}
p.ParaOverride-5 {
	margin-top:0px;
}
p.ParaOverride-6 {
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-7 {
	text-align:left;
}
p.ParaOverride-8 {
	text-indent:0px;
}
p.ParaOverride-9 {
	margin-bottom:6px;
	text-indent:0px;
}
p.ParaOverride-10 {
	margin-bottom:12px;
	text-indent:0px;
}
p.ParaOverride-11 {
	-epub-hyphens:none;
}
p.ParaOverride-12 {
	text-align:left;
	text-indent:0px;
}
li.ParaOverride-13 {
	list-style-position:outside;
	list-style-type:disc;
	margin-left:18px;
	text-indent:0px;
}
p.ParaOverride-14 {
	-epub-hyphens:none;
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-15 {
	text-align:justify;
	text-align-last:center;
}
p.ParaOverride-16 {
	margin-bottom:18px;
	text-indent:0px;
}
p.ParaOverride-17 {
	-epub-hyphens:none;
	margin-bottom:12px;
}
p.ParaOverride-18 {
	margin-left:1px;
}
p.ParaOverride-19 {
	-epub-hyphens:none;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-20 {
	text-align:justify;
	text-align-last:center;
	text-indent:0px;
}
p.ParaOverride-21 {
	margin-left:36px;
}
p.ParaOverride-22 {
	margin-left:36px;
	text-indent:0px;
}
span.CharOverride-1 {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-family:"Minion Pro Italic", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	font-family:"Minion Pro Bold Cond Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-4 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-5 {
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-6 {
	font-family:"Minion Pro Bold", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	font-family:"Times New Roman", serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	font-size:11px;
}
span.CharOverride-10 {
	font-family:"Times New Roman", serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-11 {
	font-family:"Minion Pro", serif;
	font-size:58%;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-12 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	font-size:24px;
}
span.CharOverride-14 {
	font-family:"Kannada MN", sans-serif;
	font-size:46px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-15 {
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-16 {
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	font-family:"Kannada MN", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-18 {
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-19 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-20 {
	font-family:"Kannada MN", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-21 {
	font-family:"Kannada MN", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-22 {
	font-size:12px;
}
span.CharOverride-23 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-24 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-25 {
	color:#414042;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-26 {
	color:#414042;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-27 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-28 {
	font-family:"Minion Pro", serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-29 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-30 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-31 {
	font-size:62px;
}
span.CharOverride-32 {
	color:#ffffff;
	font-size:36px;
}
span.CharOverride-33 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-34 {
	color:#231f20;
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-35 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:30px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-36 {
	font-size:11px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-37 {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-38 {
	font-family:"Minion Pro", serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-39 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-40 {
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-41 {
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:none;
}
span.CharOverride-42 {
	font-size:11px;
	font-variant:normal;
	text-transform:none;
}
span.CharOverride-43 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:30px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-44 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:24px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-45 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-46 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-47 {
	font-size:22px;
}
span.CharOverride-48 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-49 {
	font-family:"Minion Pro Bold Italic", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-50 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-51 {
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-52 {
	color:#000000;
	font-size:11px;
}
span.CharOverride-53 {
	color:#000000;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-54 {
	color:#000000;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-55 {
	color:#000000;
	font-size:12px;
}
span.CharOverride-56 {
	-webkit-text-combine:none;
	color:#215e9e;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-57 {
	-webkit-text-combine:none;
	color:#215e9e;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-58 {
	font-family:"Kannada MN", sans-serif;
	font-size:30px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-59 {
	-webkit-text-combine:none;
	color:#414042;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-60 {
	-webkit-text-combine:none;
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-61 {
	color:#414042;
	font-family:"Minion Pro Bold", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-62 {
	-webkit-text-combine:none;
	color:#414042;
	font-family:"Minion Pro Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-63 {
	-webkit-text-combine:none;
	color:#3a68a5;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-64 {
	-webkit-text-combine:none;
	color:#3a68a5;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-65 {
	font-size:16px;
}
span.CharOverride-66 {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-67 {
	font-size:18px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:bold;
	text-transform:none;
}
span.CharOverride-68 {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-69 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-70 {
	font-size:14px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-71 {
	font-size:14px;
}
span.CharOverride-72 {
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-73 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-74 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	vertical-align:super;
}
span.CharOverride-75 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	vertical-align:super;
}
span.CharOverride-76 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-77 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-78 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro Bold", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-79 {
	font-family:"Minion Pro Bold Italic", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
._idGenDropcap-1 {
	float:left;
	font-size:2.846em;
	line-height:1;
	margin-bottom:-0.273em;
	margin-right:0.05em;
	margin-top:-0.074em;
}
._idGenDropcap-2 {
	color:#414042;
	float:left;
	font-size:2.846em;
	line-height:1;
	margin-bottom:-0.273em;
	margin-right:0.05em;
	margin-top:-0.074em;
}
#_idContainer000 {
	display:inline-block;
	height:791px;
	position:relative;
	width:612px;
}
#_idContainer001 {
	display:inline-block;
	height:180px;
	width:539px;
}
#_idContainer003 {
	display:inline-block;
	height:421px;
	width:341px;
}
#_idContainer008 {
	display:inline-block;
	height:548px;
	width:402px;
}
#_idContainer011, #_idContainer055, #_idContainer066, #_idContainer090, #_idContainer114, #_idContainer128, #_idContainer144, #_idContainer156, #_idContainer254, #_idContainer265, #_idContainer274, #_idContainer316, #_idContainer327 {
	display:inline-block;
	height:86px;
	width:295px;
}
#_idContainer015, #_idContainer178 {
	display:inline-block;
	height:269px;
	width:184px;
}
#_idContainer021 {
	display:inline-block;
	height:331px;
	width:540px;
}
#_idContainer026 {
	display:inline-block;
	height:281px;
	width:264px;
}
#_idContainer031 {
	display:inline-block;
	height:791px;
	width:1224px;
}
#_idContainer032 {
	display:inline-block;
	height:3px;
	width:4px;
}
#_idContainer040 {
	display:inline-block;
	height:86px;
	width:264px;
}
#_idContainer041 {
	display:inline-block;
	height:164px;
	width:230px;
}
#_idContainer049 {
	display:inline-block;
	height:214px;
	width:300px;
}
#_idContainer052, #_idContainer054, #_idContainer338 {
	display:inline-block;
	height:0px;
	position:relative;
	width:312px;
}
#_idContainer056 {
	display:inline-block;
	height:269px;
	width:206px;
}
#_idContainer064 {
	display:inline-block;
	height:355px;
	width:540px;
}
#_idContainer067 {
	display:inline-block;
	height:238px;
	width:192px;
}
#_idContainer074 {
	display:inline-block;
	height:292px;
	width:540px;
}
#_idContainer076, #_idContainer078 {
	display:inline-block;
	height:0px;
	position:relative;
	width:239px;
}
#_idContainer080 {
	display:inline-block;
	height:286px;
	width:381px;
}
#_idContainer082, #_idContainer084 {
	display:inline-block;
	height:0px;
	position:relative;
	width:253px;
}
#_idContainer085, #_idContainer097, #_idContainer113, #_idContainer262 {
	display:inline-block;
	height:12px;
	width:14px;
}
#_idContainer086 {
	display:inline-block;
	height:618px;
	width:540px;
}
#_idContainer091 {
	display:inline-block;
	height:240px;
	width:202px;
}
#_idContainer099 {
	display:inline-block;
	height:552px;
	width:458px;
}
#_idContainer101 {
	display:inline-block;
	height:792px;
	width:1224px;
}
#_idContainer105 {
	display:inline-block;
	height:792px;
	width:866px;
}
#_idContainer107 {
	display:inline-block;
	height:197px;
	width:169px;
}
#_idContainer109 {
	display:inline-block;
	height:374px;
	width:540px;
}
#_idContainer112 {
	display:inline-block;
	height:360px;
	width:540px;
}
#_idContainer115 {
	display:inline-block;
	height:280px;
	width:201px;
}
#_idContainer122, #_idContainer124 {
	display:inline-block;
	height:0px;
	position:relative;
	width:294px;
}
#_idContainer125 {
	display:inline-block;
	height:287px;
	width:475px;
}
#_idContainer130 {
	display:inline-block;
	height:256px;
	width:201px;
}
#_idContainer138, #_idContainer140 {
	display:inline-block;
	height:0px;
	position:relative;
	width:297px;
}
#_idContainer141 {
	display:inline-block;
	height:361px;
	width:540px;
}
#_idContainer146 {
	display:inline-block;
	height:254px;
	width:201px;
}
#_idContainer154 {
	display:inline-block;
	height:547px;
	width:540px;
}
#_idContainer157 {
	display:inline-block;
	height:235px;
	width:201px;
}
#_idContainer164, #_idContainer166 {
	display:inline-block;
	height:0px;
	position:relative;
	width:244px;
}
#_idContainer167, #_idContainer282 {
	display:inline-block;
	height:305px;
	width:236px;
}
#_idContainer170 {
	display:inline-block;
	height:160px;
	width:236px;
}
#_idContainer172, #_idContainer174 {
	display:inline-block;
	height:0px;
	position:relative;
	width:191px;
}
#_idContainer184 {
	display:inline-block;
	height:176px;
	width:264px;
}
#_idContainer187 {
	display:inline-block;
	height:266px;
	width:264px;
}
#_idContainer190, #_idContainer195 {
	display:inline-block;
	height:211px;
	width:264px;
}
#_idContainer191 {
	display:inline-block;
	height:182px;
	width:265px;
}
#_idContainer197 {
	display:inline-block;
	height:168px;
	width:264px;
}
#_idContainer202 {
	display:inline-block;
	height:371px;
	width:539px;
}
#_idContainer204, #_idContainer222, #_idContainer298, #_idContainer342 {
	display:inline-block;
	height:86px;
	width:300px;
}
#_idContainer208 {
	display:inline-block;
	height:224px;
	width:177px;
}
#_idContainer211 {
	display:inline-block;
	height:321px;
	width:223px;
}
#_idContainer213 {
	display:inline-block;
	height:365px;
	width:235px;
}
#_idContainer216 {
	display:inline-block;
	height:319px;
	width:221px;
}
#_idContainer218 {
	display:inline-block;
	height:347px;
	width:241px;
}
#_idContainer221 {
	display:inline-block;
	height:571px;
	width:382px;
}
#_idContainer226 {
	display:inline-block;
	height:251px;
	width:201px;
}
#_idContainer229, #_idContainer231 {
	display:inline-block;
	height:636px;
	width:540px;
}
#_idContainer234, #_idContainer237 {
	display:inline-block;
	height:636px;
	width:461px;
}
#_idContainer241, #_idContainer245 {
	display:inline-block;
	height:626px;
	width:461px;
}
#_idContainer248 {
	display:inline-block;
	height:242px;
	width:162px;
}
#_idContainer250 {
	display:inline-block;
	height:229px;
	width:162px;
}
#_idContainer256 {
	display:inline-block;
	height:264px;
	width:201px;
}
#_idContainer263 {
	display:inline-block;
	height:295px;
	width:418px;
}
#_idContainer267 {
	display:inline-block;
	height:232px;
	width:201px;
}
#_idContainer276 {
	display:inline-block;
	height:269px;
	width:201px;
}
#_idContainer285 {
	display:inline-block;
	height:248px;
	text-align:left;
	width:301px;
}
#_idContainer288 {
	display:inline-block;
	height:365px;
	width:421px;
}
#_idContainer292 {
	display:inline-block;
	height:344px;
	width:223px;
}
#_idContainer297 {
	display:inline-block;
	height:161px;
	text-align:left;
	width:184px;
}
#_idContainer300 {
	display:inline-block;
	height:269px;
	width:193px;
}
#_idContainer306 {
	display:inline-block;
	height:233px;
	width:350px;
}
#_idContainer309 {
	display:inline-block;
	height:388px;
	width:312px;
}
#_idContainer311 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:402.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:540.00px;
	z-index:0;
}
#_idContainer312 {
	-ms-transform:translate(11.999px,313.658px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(11.999px,313.658px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.82px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(11.999px,313.658px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(11.999px,313.658px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:516.00px;
	z-index:1;
}
#_idContainer313 {
	display:inline-block;
	height:402px;
	position:relative;
	width:540px;
}
#_idContainer321 {
	display:inline-block;
	height:213px;
	width:201px;
}
#_idContainer325 {
	display:inline-block;
	height:340px;
	width:540px;
}
#_idContainer329 {
	display:inline-block;
	height:280px;
	width:206px;
}
#_idContainer339 {
	display:inline-block;
	height:0px;
	position:relative;
	width:310px;
}
#_idContainer344 {
	display:inline-block;
	height:202px;
	width:251px;
}
#_idContainer351 {
	display:inline-block;
	height:361px;
	width:356px;
}
#_idContainer354 {
	display:inline-block;
	height:269px;
	width:330px;
}
#_idContainer356 {
	display:inline-block;
	height:391px;
	width:300px;
}
#_idContainer359, #_idContainer361 {
	display:inline-block;
	height:0px;
	position:relative;
	width:234px;
}
#_idContainer362 {
	display:inline-block;
	height:336px;
	width:540px;
}
#_idContainer365, #_idContainer367 {
	display:inline-block;
	height:0px;
	position:relative;
	width:342px;
}
#_idContainer368 {
	display:inline-block;
	height:327px;
	width:540px;
}
#_idContainer371, #_idContainer373 {
	display:inline-block;
	height:0px;
	position:relative;
	width:329px;
}
#_idContainer374 {
	display:inline-block;
	height:341px;
	width:329px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:20px;
	width:19px;
}
div._idGenObjectStyleOverride-1 {
	background-color:#efebe0;
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-3 {
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	border-color:#efebe0;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-5 {
	background-color:#a7bb94;
}
div._idGenObjectStyleOverride-6 {
	background-color:#d4d4d4;
	border-width:0px;
}
div._idGenObjectStyleOverride-7 {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-8 {
	background-color:#000000;
	border-width:0px;
}
div._idGenObjectStyleOverride-9 {
	border-color:#d4d4d4;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-10 {
	border-width:1px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
