body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Letter-V_rootstalk_Lead-Pages_Bios {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Lead-Pages_Body-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:24px;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Lead-Pages_Page-Headings--titles- {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.917;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Running-Header {
	color:#414042;
	font-family:Times, serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.TOC-Heading {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Art-Captions {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:12px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Body-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:24px;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Page-Headings--titles- {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.917;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.usetheseAuthors {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:72px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-36px;
	text-transform:none;
	widows:1;
}
p.usetheseTitles {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:36px;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-24px;
	text-transform:none;
	widows:1;
}
span.Author-Name {
	font-family:"Kannada MN", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.Drop-Cap {
	font-family:"Bell MT Regular", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Endnote-reference {
	vertical-align:super;
}
span.Hyperlink {
	color:#215e9e;
	text-decoration:underline;
}
span.LeadPageTitles {
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Letter-V_Author-Name {
	font-family:"Kannada MN", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.Letter-V_Drop-Cap {
	font-family:"Bell MT Regular", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Letter-V_LeadPageTitles {
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.TOC-page-numbers {
	font-family:"Minion Pro", serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.Text {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	margin-left:0px;
}
p.ParaOverride-3 {
	margin-left:36px;
	text-indent:-36px;
}
p.ParaOverride-4 {
	text-indent:0px;
}
p.ParaOverride-5 {
	text-indent:1px;
}
p.ParaOverride-6 {
	text-indent:19px;
}
p.ParaOverride-7 {
	text-align:right;
}
p.ParaOverride-8 {
	margin-left:41px;
	text-align:left;
}
p.ParaOverride-9 {
	margin-left:72px;
	text-indent:-36px;
}
p.ParaOverride-10 {
	text-align:left;
}
p.ParaOverride-11 {
	margin-top:0px;
}
p.ParaOverride-12 {
	margin-top:0px;
	text-align:left;
}
p.ParaOverride-13 {
	margin-left:41px;
	text-align:right;
}
p.ParaOverride-14 {
	margin-left:72px;
	text-align:right;
	text-indent:-36px;
}
p.ParaOverride-15 {
	margin-top:0px;
	text-align:right;
}
p.ParaOverride-16 {
	text-align:justify;
	text-align-last:center;
}
p.ParaOverride-17 {
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-18 {
	margin-left:36px;
	text-indent:36px;
}
p.ParaOverride-19 {
	text-align:justify;
	text-align-last:center;
	text-indent:0px;
}
p.ParaOverride-20 {
	text-indent:24px;
}
p.ParaOverride-21 {
	margin-left:17px;
	text-indent:-17px;
}
p.ParaOverride-22 {
	margin-left:36px;
	text-align:left;
	text-indent:-36px;
}
span.CharOverride-1 {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-family:"Minion Pro Italic", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-4 {
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-5 {
	font-size:11px;
}
span.CharOverride-6 {
	font-size:18px;
	text-decoration:underline;
}
span.CharOverride-7 {
	font-size:18px;
}
span.CharOverride-8 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-9 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-10 {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-family:"Times New Roman", serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-12 {
	font-size:30px;
}
span.CharOverride-13 {
	font-family:"Kannada MN", sans-serif;
	font-size:46px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-15 {
	font-family:"Kannada MN", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-16 {
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	font-family:"Kannada MN", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-18 {
	font-family:"Kannada MN", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-19 {
	font-family:"Kannada MN", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-20 {
	color:#414042;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-21 {
	font-size:11px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-22 {
	font-size:10px;
}
span.CharOverride-23 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-24 {
	font-size:20px;
}
span.CharOverride-25 {
	font-family:"Minion Pro", serif;
	font-size:58%;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-26 {
	color:#000000;
}
span.CharOverride-27 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:30px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-28 {
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-29 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-30 {
	font-family:"Minion Pro", serif;
	font-size:17px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-31 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-32 {
	font-family:"Minion Pro", serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-33 {
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-34 {
	font-size:16px;
	text-decoration:underline;
}
span.CharOverride-35 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-36 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:58%;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-37 {
	font-size:23px;
}
span.CharOverride-38 {
	font-size:14px;
}
span.CharOverride-39 {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-40 {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-41 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-42 {
	font-size:11px;
	font-variant:normal;
	text-transform:none;
}
span.CharOverride-43 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-44 {
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-45 {
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:none;
}
span.CharOverride-46 {
	font-family:"Minion Pro", serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-47 {
	font-family:"Minion Pro", serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
	vertical-align:super;
}
span.CharOverride-48 {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-49 {
	font-family:"Minion Pro", serif;
	font-size:58%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
	vertical-align:super;
}
span.CharOverride-50 {
	font-family:"Minion Pro", serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-51 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-52 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	vertical-align:super;
}
span.CharOverride-53 {
	font-family:"Minion Pro", serif;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-54 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-55 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-56 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-57 {
	font-family:"Minion Pro", serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-58 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-59 {
	font-family:"Minion Pro", serif;
	font-size:14px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-60 {
	font-family:"Minion Pro", serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
	vertical-align:super;
}
span._idGenCharOverride-1 {
	font-size:58%;
}
._idGenDropcap-1 {
	float:left;
	font-size:2.846em;
	line-height:1;
	margin-bottom:-0.273em;
	margin-right:0.05em;
	margin-top:-0.074em;
}
._idGenDropcap-2 {
	float:left;
	font-family:"Bell MT Regular", sans-serif;
	font-size:2.78em;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:-0.25em;
	margin-right:0.05em;
	margin-top:-0.073em;
}
._idGenDropcap-3 {
	float:left;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:2.78em;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:-0.25em;
	margin-right:0.05em;
	margin-top:-0.073em;
}
#_idContainer000 {
	display:inline-block;
	height:790px;
	position:relative;
	width:610px;
}
#_idContainer001 {
	display:inline-block;
	height:180px;
	width:539px;
}
#_idContainer003 {
	display:inline-block;
	height:434px;
	width:320px;
}
#_idContainer004, #_idContainer008, #_idContainer045, #_idContainer048, #_idContainer462, #_idContainer596, #_idContainer597 {
	display:inline-block;
	height:20px;
	width:184px;
}
#_idContainer011, #_idContainer052, #_idContainer075, #_idContainer100, #_idContainer126, #_idContainer139, #_idContainer166, #_idContainer265, #_idContainer285, #_idContainer344, #_idContainer383, #_idContainer398, #_idContainer426, #_idContainer440, #_idContainer452, #_idContainer473, #_idContainer517, #_idContainer528, #_idContainer569 {
	display:inline-block;
	height:86px;
	width:295px;
}
#_idContainer013 {
	display:inline-block;
	height:223px;
	width:184px;
}
#_idContainer020 {
	display:inline-block;
	height:340px;
	width:264px;
}
#_idContainer022 {
	display:inline-block;
	height:396px;
	width:264px;
}
#_idContainer025 {
	display:inline-block;
	height:413px;
	width:264px;
}
#_idContainer027 {
	display:inline-block;
	height:395px;
	width:258px;
}
#_idContainer030 {
	display:inline-block;
	height:304px;
	width:540px;
}
#_idContainer033 {
	display:inline-block;
	height:375px;
	width:540px;
}
#_idContainer036 {
	display:inline-block;
	height:627px;
	width:470px;
}
#_idContainer038 {
	display:inline-block;
	height:790px;
	width:1224px;
}
#_idContainer046 {
	display:inline-block;
	height:35px;
	width:264px;
}
#_idContainer053, #_idContainer127, #_idContainer167, #_idContainer267, #_idContainer286, #_idContainer345, #_idContainer359, #_idContainer385, #_idContainer399, #_idContainer427, #_idContainer441, #_idContainer454, #_idContainer529 {
	display:inline-block;
	height:269px;
	width:201px;
}
#_idContainer063 {
	display:inline-block;
	height:0px;
	position:relative;
	width:321px;
}
#_idContainer065 {
	display:inline-block;
	height:0px;
	position:relative;
	width:318px;
}
#_idContainer066 {
	display:inline-block;
	height:269px;
	width:296px;
}
#_idContainer067 {
	display:inline-block;
	height:256px;
	width:335px;
}
#_idContainer069, #_idContainer071 {
	display:inline-block;
	height:0px;
	position:relative;
	width:392px;
}
#_idContainer072 {
	display:inline-block;
	height:243px;
	width:324px;
}
#_idContainer074 {
	display:inline-block;
	height:261px;
	width:415px;
}
#_idContainer076 {
	display:inline-block;
	height:275px;
	width:201px;
}
#_idContainer085 {
	display:inline-block;
	height:0px;
	position:relative;
	width:243px;
}
#_idContainer087 {
	display:inline-block;
	height:0px;
	position:relative;
	width:238px;
}
#_idContainer089 {
	display:inline-block;
	height:305px;
	width:533px;
}
#_idContainer090 {
	display:inline-block;
	height:223px;
	position:relative;
	width:540px;
}
#_idContainer092, #_idContainer093, #_idContainer152, #_idContainer153, #_idContainer275, #_idContainer277 {
	display:inline-block;
	height:0px;
	position:relative;
	width:274px;
}
#_idContainer096 {
	display:inline-block;
	height:353px;
	width:249px;
}
#_idContainer098 {
	display:inline-block;
	height:237px;
	width:380px;
}
#_idContainer102 {
	display:inline-block;
	height:278px;
	width:201px;
}
#_idContainer108 {
	display:inline-block;
	height:194px;
	width:264px;
}
#_idContainer112, #_idContainer114 {
	display:inline-block;
	height:0px;
	position:relative;
	width:333px;
}
#_idContainer117 {
	display:inline-block;
	height:185px;
	width:292px;
}
#_idContainer119 {
	display:inline-block;
	height:274px;
	width:168px;
}
#_idContainer121 {
	display:inline-block;
	height:171px;
	width:276px;
}
#_idContainer124 {
	display:inline-block;
	height:405px;
	width:540px;
}
#_idContainer135, #_idContainer260, #_idContainer338, #_idContainer378, #_idContainer434, #_idContainer511 {
	display:inline-block;
	height:104px;
	width:532px;
}
#_idContainer137 {
	display:inline-block;
	height:300px;
	width:413px;
}
#_idContainer143 {
	display:inline-block;
	height:270px;
	width:201px;
}
#_idContainer150 {
	display:inline-block;
	height:282px;
	width:540px;
}
#_idContainer157 {
	display:inline-block;
	height:369px;
	width:540px;
}
#_idContainer160 {
	display:inline-block;
	height:299px;
	width:209px;
}
#_idContainer164 {
	display:inline-block;
	height:275px;
	width:431px;
}
#_idContainer176 {
	display:inline-block;
	height:295px;
	width:236px;
}
#_idContainer178, #_idContainer181, #_idContainer182, #_idContainer186, #_idContainer188, #_idContainer197, #_idContainer198, #_idContainer199, #_idContainer200, #_idContainer201, #_idContainer202, #_idContainer204, #_idContainer205, #_idContainer231, #_idContainer232, #_idContainer233 {
	display:inline-block;
	height:0px;
	position:relative;
	width:0px;
}
#_idContainer179, #_idContainer206 {
	display:inline-block;
	height:609px;
	position:relative;
	width:514px;
}
#_idContainer180 {
	display:inline-block;
	height:610px;
	width:258px;
}
#_idContainer183, #_idContainer218 {
	display:inline-block;
	height:608px;
	position:relative;
	width:0px;
}
#_idContainer184, #_idContainer185, #_idContainer187, #_idContainer208, #_idContainer209, #_idContainer212, #_idContainer213, #_idContainer220, #_idContainer221, #_idContainer222, #_idContainer223 {
	display:inline-block;
	height:0px;
	position:relative;
	width:256px;
}
#_idContainer189 {
	display:inline-block;
	height:0px;
	position:relative;
	width:255px;
}
#_idContainer190, #_idContainer193, #_idContainer196, #_idContainer207, #_idContainer210, #_idContainer211 {
	display:inline-block;
	height:157px;
	width:252px;
}
#_idContainer219 {
	display:inline-block;
	height:155px;
	width:258px;
}
#_idContainer224 {
	display:inline-block;
	height:157px;
	width:257px;
}
#_idContainer234, #_idContainer236 {
	display:inline-block;
	height:0px;
	position:relative;
	width:297px;
}
#_idContainer238 {
	display:inline-block;
	height:237px;
	width:252px;
}
#_idContainer240 {
	display:inline-block;
	height:325px;
	width:256px;
}
#_idContainer242, #_idContainer244 {
	display:inline-block;
	height:0px;
	position:relative;
	width:96px;
}
#_idContainer246 {
	display:inline-block;
	height:325px;
	width:488px;
}
#_idContainer249, #_idContainer250, #_idContainer254, #_idContainer256 {
	display:inline-block;
	height:0px;
	position:relative;
	width:355px;
}
#_idContainer252 {
	display:inline-block;
	height:433px;
	width:289px;
}
#_idContainer258 {
	display:inline-block;
	height:306px;
	width:486px;
}
#_idContainer264 {
	display:inline-block;
	height:286px;
	width:215px;
}
#_idContainer278 {
	display:inline-block;
	height:199px;
	width:276px;
}
#_idContainer281 {
	display:inline-block;
	height:183px;
	width:262px;
}
#_idContainer283 {
	display:inline-block;
	height:182px;
	width:276px;
}
#_idContainer297 {
	display:inline-block;
	height:0px;
	position:relative;
	width:300px;
}
#_idContainer299 {
	display:inline-block;
	height:0px;
	position:relative;
	width:296px;
}
#_idContainer302 {
	display:inline-block;
	height:284px;
	width:367px;
}
#_idContainer303 {
	display:inline-block;
	height:635px;
	position:relative;
	width:266px;
}
#_idContainer304, #_idContainer305 {
	display:inline-block;
	height:144px;
	width:144px;
}
#_idContainer306, #_idContainer307 {
	display:inline-block;
	height:134px;
	width:144px;
}
#_idContainer310 {
	display:inline-block;
	height:269px;
	width:352px;
}
#_idContainer312 {
	display:inline-block;
	height:277px;
	width:263px;
}
#_idContainer314 {
	display:inline-block;
	height:208px;
	width:264px;
}
#_idContainer316 {
	display:inline-block;
	height:284px;
	width:264px;
}
#_idContainer319 {
	display:inline-block;
	height:636px;
	width:264px;
}
#_idContainer321 {
	display:inline-block;
	height:286px;
	width:367px;
}
#_idContainer322, #_idContainer324 {
	display:inline-block;
	height:0px;
	position:relative;
	width:166px;
}
#_idContainer328 {
	display:inline-block;
	height:316px;
	width:264px;
}
#_idContainer329 {
	display:inline-block;
	height:97px;
	width:22px;
}
#_idContainer330 {
	display:inline-block;
	height:0px;
	position:relative;
	width:206px;
}
#_idContainer331 {
	display:inline-block;
	height:0px;
	position:relative;
	width:203px;
}
#_idContainer334 {
	display:inline-block;
	height:316px;
	width:263px;
}
#_idContainer335 {
	display:inline-block;
	height:653px;
	width:540px;
}
#_idContainer342 {
	display:inline-block;
	height:286px;
	width:286px;
}
#_idContainer353 {
	display:inline-block;
	height:263px;
	width:360px;
}
#_idContainer355 {
	display:inline-block;
	height:407px;
	width:295px;
}
#_idContainer357 {
	display:inline-block;
	height:86px;
	width:300px;
}
#_idContainer367 {
	display:inline-block;
	height:234px;
	width:282px;
}
#_idContainer370 {
	display:inline-block;
	height:309px;
	width:215px;
}
#_idContainer372, #_idContainer374 {
	display:inline-block;
	height:0px;
	position:relative;
	width:308px;
}
#_idContainer376 {
	display:inline-block;
	height:166px;
	width:349px;
}
#_idContainer381 {
	display:inline-block;
	height:259px;
	width:270px;
}
#_idContainer392, #_idContainer394 {
	display:inline-block;
	height:0px;
	position:relative;
	width:250px;
}
#_idContainer396 {
	display:inline-block;
	height:269px;
	width:540px;
}
#_idContainer407 {
	display:inline-block;
	height:256px;
	width:317px;
}
#_idContainer408, #_idContainer410 {
	display:inline-block;
	height:0px;
	position:relative;
	width:284px;
}
#_idContainer411 {
	display:inline-block;
	height:228px;
	width:304px;
}
#_idContainer413 {
	display:inline-block;
	height:228px;
	width:360px;
}
#_idContainer414 {
	display:inline-block;
	height:342px;
	width:540px;
}
#_idContainer416 {
	display:inline-block;
	height:354px;
	width:335px;
}
#_idContainer417 {
	display:inline-block;
	height:342px;
	width:257px;
}
#_idContainer419, #_idContainer421 {
	display:inline-block;
	height:0px;
	position:relative;
	width:266px;
}
#_idContainer422 {
	display:inline-block;
	height:386px;
	width:278px;
}
#_idContainer425 {
	display:inline-block;
	height:494px;
	width:540px;
}
#_idContainer431 {
	display:inline-block;
	height:216px;
	text-align:left;
	width:246px;
}
#_idContainer432 {
	display:inline-block;
	height:216px;
	width:246px;
}
#_idContainer437 {
	display:inline-block;
	height:214px;
	width:217px;
}
#_idContainer439 {
	display:inline-block;
	height:214px;
	width:223px;
}
#_idContainer448 {
	display:inline-block;
	height:307px;
	width:307px;
}
#_idContainer450 {
	display:inline-block;
	height:205px;
	width:308px;
}
#_idContainer464, #_idContainer579 {
	display:inline-block;
	height:360px;
	width:540px;
}
#_idContainer467, #_idContainer469 {
	display:inline-block;
	height:0px;
	position:relative;
	width:328px;
}
#_idContainer470 {
	display:inline-block;
	height:251px;
	width:264px;
}
#_idContainer471 {
	display:inline-block;
	height:133px;
	width:247px;
}
#_idContainer475 {
	display:inline-block;
	height:256px;
	width:201px;
}
#_idContainer483 {
	display:inline-block;
	height:318px;
	width:540px;
}
#_idContainer486 {
	display:inline-block;
	height:188px;
	width:254px;
}
#_idContainer488 {
	display:inline-block;
	height:292px;
	width:540px;
}
#_idContainer490 {
	display:inline-block;
	height:218px;
	width:245px;
}
#_idContainer493 {
	display:inline-block;
	height:306px;
	width:540px;
}
#_idContainer495 {
	display:inline-block;
	height:228px;
	width:269px;
}
#_idContainer497, #_idContainer499 {
	display:inline-block;
	height:0px;
	position:relative;
	width:215px;
}
#_idContainer501 {
	display:inline-block;
	height:336px;
	width:540px;
}
#_idContainer503 {
	display:inline-block;
	height:255px;
	width:323px;
}
#_idContainer506 {
	display:inline-block;
	height:384px;
	width:359px;
}
#_idContainer509, #_idContainer510 {
	display:inline-block;
	height:0px;
	position:relative;
	width:248px;
}
#_idContainer515 {
	display:inline-block;
	height:234px;
	width:386px;
}
#_idContainer518 {
	display:inline-block;
	height:269px;
	width:189px;
}
#_idContainer526 {
	display:inline-block;
	height:383px;
	width:255px;
}
#_idContainer539 {
	display:inline-block;
	height:280px;
	width:438px;
}
#_idContainer541, #_idContainer543 {
	display:inline-block;
	height:0px;
	position:relative;
	width:360px;
}
#_idContainer545 {
	display:inline-block;
	height:383px;
	width:264px;
}
#_idContainer547 {
	display:inline-block;
	height:269px;
	width:440px;
}
#_idContainer550, #_idContainer552 {
	display:inline-block;
	height:0px;
	position:relative;
	width:282px;
}
#_idContainer553 {
	display:inline-block;
	height:255px;
	width:412px;
}
#_idContainer556 {
	display:inline-block;
	height:343px;
	width:264px;
}
#_idContainer558 {
	display:inline-block;
	height:232px;
	width:339px;
}
#_idContainer561, #_idContainer563 {
	display:inline-block;
	height:0px;
	position:relative;
	width:262px;
}
#_idContainer564 {
	display:inline-block;
	height:228px;
	width:362px;
}
#_idContainer568 {
	display:inline-block;
	height:220px;
	width:403px;
}
#_idContainer570 {
	display:inline-block;
	height:274px;
	width:185px;
}
#_idContainer581 {
	display:inline-block;
	height:186px;
	width:228px;
}
#_idContainer583 {
	display:inline-block;
	height:341px;
	width:540px;
}
#_idContainer585, #_idContainer587 {
	display:inline-block;
	height:0px;
	position:relative;
	width:347px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:20px;
	width:19px;
}
img._idGenObjectAttribute-3 {
	height:860px;
	width:1324px;
}
img._idGenObjectAttribute-4 {
	height:1562px;
	width:2500px;
}
img._idGenObjectAttribute-5 {
	height:1244px;
	width:829px;
}
img._idGenObjectAttribute-6 {
	height:2016px;
	width:1512px;
}
div._idGenObjectStyleOverride-1 {
	background-color:#efebe0;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-3 {
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-5 {
	background-color:#a7bb94;
}
div._idGenObjectStyleOverride-6 {
	background-color:#d4d4d4;
	border-width:0px;
}
div._idGenObjectStyleOverride-7 {
	border-color:#d4d4d4;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-8 {
	border-color:#739b5d;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
