body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Letter-V_rootstalk_Lead-Pages_Bios {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Lead-Pages_Body-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:24px;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Lead-Pages_Page-Headings--titles- {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.917;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Running-Header {
	color:#414042;
	font-family:Times, serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Normal {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Normal--Web- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:5px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.TOC-Heading {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Art-Captions {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:12px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Body-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:24px;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Interview-Paragraphs {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:36px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-36px;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Page-Headings--titles- {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.917;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.usetheseAuthor {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:24px;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.usetheseAuthors {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:72px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-36px;
	text-transform:none;
	widows:1;
}
p.usetheseTitles {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:36px;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-24px;
	text-transform:none;
	widows:1;
}
span.Author-Name {
	font-family:"Kannada MN", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.Drop-Cap {
	font-family:"Bell MT Regular", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Hyperlink {
	color:#215e9e;
	text-decoration:underline;
}
span.LeadPageTitles {
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Letter-V_Author-Name {
	font-family:"Kannada MN", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.Letter-V_Drop-Cap {
	font-family:"Bell MT Regular", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Letter-V_LeadPageTitles {
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.TOC-page-numbers {
	font-family:"Minion Pro", serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	margin-left:0px;
}
p.ParaOverride-3 {
	margin-left:36px;
	text-indent:-36px;
}
p.ParaOverride-4 {
	text-indent:0px;
}
p.ParaOverride-5 {
	text-indent:1px;
}
p.ParaOverride-6 {
	text-indent:19px;
}
p.ParaOverride-7 {
	text-align:left;
}
p.ParaOverride-8 {
	margin-left:48px;
}
p.ParaOverride-9 {
	margin-left:73px;
	text-align:right;
}
p.ParaOverride-10 {
	text-align:right;
}
p.ParaOverride-11 {
	margin-top:0px;
}
p.ParaOverride-12 {
	margin-top:0px;
	text-align:left;
}
p.ParaOverride-13 {
	margin-left:32px;
	text-align:right;
	text-indent:-22px;
}
p.ParaOverride-14 {
	margin-left:32px;
	text-align:left;
	text-indent:-22px;
}
p.ParaOverride-15 {
	text-align:justify;
	text-align-last:center;
}
p.ParaOverride-16 {
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-17 {
	-epub-hyphens:none;
}
p.ParaOverride-18 {
	text-align:justify;
	text-align-last:left;
	text-indent:24px;
}
p.ParaOverride-19 {
	margin-bottom:0px;
	margin-top:0px;
	text-align:justify;
	text-align-last:left;
	text-indent:24px;
}
p.ParaOverride-20 {
	-epub-hyphens:none;
	margin-left:0px;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-21 {
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-22 {
	margin-left:1px;
}
p.ParaOverride-23 {
	margin-left:40px;
}
p.ParaOverride-24 {
	margin-left:40px;
	text-indent:-36px;
}
p.ParaOverride-25 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-26 {
	margin-left:36px;
	text-indent:29px;
}
p.ParaOverride-27 {
	margin-left:0px;
	text-align:justify;
	text-align-last:center;
}
p.ParaOverride-28 {
	text-indent:24px;
}
p.ParaOverride-29 {
	margin-left:12px;
}
p.ParaOverride-30 {
	text-indent:21px;
}
p.ParaOverride-31 {
	margin-left:0px;
	text-indent:24px;
}
p.ParaOverride-32 {
	margin-left:36px;
	text-align:left;
	text-indent:-36px;
}
p.ParaOverride-33 {
	margin-bottom:6px;
	text-indent:0px;
}
p.ParaOverride-34 {
	margin-left:36px;
	margin-right:36px;
	text-indent:-36px;
}
p.ParaOverride-35 {
	margin-right:36px;
}
span.CharOverride-1 {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-family:"Minion Pro Italic", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-4 {
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-5 {
	font-family:"Minion Pro Bold", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-7 {
	font-size:11px;
}
span.CharOverride-8 {
	font-size:18px;
	text-decoration:underline;
}
span.CharOverride-9 {
	font-size:18px;
}
span.CharOverride-10 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-11 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-12 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-13 {
	font-size:30px;
}
span.CharOverride-14 {
	font-family:"Kannada MN", sans-serif;
	font-size:46px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-15 {
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-16 {
	font-family:"Kannada MN", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-17 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-18 {
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-19 {
	font-family:"Kannada MN", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-20 {
	font-family:"Kannada MN", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-21 {
	font-size:12px;
}
span.CharOverride-22 {
	color:#414042;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-23 {
	font-size:11px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-24 {
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-25 {
	font-size:10px;
}
span.CharOverride-26 {
	font-size:20px;
}
span.CharOverride-27 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:58%;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-28 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-29 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-30 {
	color:#414042;
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-31 {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-32 {
	-webkit-text-combine:none;
	color:#414042;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-33 {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-34 {
	font-family:"Times New Roman", serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-35 {
	font-size:11px;
	font-variant:small-caps;
	text-transform:none;
}
span.CharOverride-36 {
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-37 {
	color:#414042;
	font-family:"Kannada MN", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-38 {
	font-family:"Kannada MN", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-39 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:30px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-40 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-41 {
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-42 {
	font-family:"Minion Pro Bold Italic", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-43 {
	font-family:"Minion Pro", serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-44 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-45 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-46 {
	font-size:16px;
	text-decoration:underline;
}
span.CharOverride-47 {
	font-size:16px;
}
span.CharOverride-48 {
	font-size:22px;
}
span.CharOverride-49 {
	font-size:14px;
	vertical-align:super;
}
span.CharOverride-50 {
	font-size:23px;
}
span.CharOverride-51 {
	color:#414042;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-52 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-53 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-54 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-55 {
	font-size:6px;
	vertical-align:super;
}
span.CharOverride-56 {
	color:#000000;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-57 {
	font-size:24px;
}
span.CharOverride-58 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-59 {
	font-size:14px;
}
span.CharOverride-60 {
	font-size:8px;
	vertical-align:super;
}
span.CharOverride-61 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:58%;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-62 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-63 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-64 {
	font-family:"Minion Variable Concept", serif;
	font-variation-settings:"opsz" 12, "wght" 400;
}
span.CharOverride-65 {
	font-family:"Minion Variable Concept", serif;
	font-variation-settings:"opsz" 11, "wght" 400;
}
span.CharOverride-66 {
	font-family:"Minion Pro", serif;
	font-size:30px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-67 {
	font-family:"Minion Pro", serif;
	font-size:20px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-68 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-69 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-70 {
	font-family:"Minion Pro", serif;
	font-size:58%;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-71 {
	color:#414042;
	font-family:"Minion Pro Bold", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-72 {
	color:#414042;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-73 {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-74 {
	color:#414042;
	font-size:12px;
}
._idGenDropcap-1 {
	float:left;
	font-size:2.846em;
	line-height:1;
	margin-bottom:-0.273em;
	margin-right:0.05em;
	margin-top:-0.074em;
}
._idGenDropcap-2 {
	float:left;
	font-family:"Bell MT Regular", sans-serif;
	font-size:2.78em;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:-0.25em;
	margin-right:0.05em;
	margin-top:-0.073em;
}
#_idContainer000 {
	display:inline-block;
	height:790px;
	position:relative;
	width:610px;
}
#_idContainer001 {
	display:inline-block;
	height:180px;
	width:539px;
}
#_idContainer003 {
	display:inline-block;
	height:434px;
	width:320px;
}
#_idContainer004, #_idContainer008, #_idContainer039, #_idContainer072, #_idContainer081, #_idContainer088, #_idContainer179 {
	display:inline-block;
	height:20px;
	width:184px;
}
#_idContainer011, #_idContainer043, #_idContainer061, #_idContainer128, #_idContainer136, #_idContainer145, #_idContainer159, #_idContainer176, #_idContainer207, #_idContainer215, #_idContainer223, #_idContainer275, #_idContainer308, #_idContainer316, #_idContainer324, #_idContainer332, #_idContainer337, #_idContainer368, #_idContainer385, #_idContainer406, #_idContainer422 {
	display:inline-block;
	height:86px;
	width:295px;
}
#_idContainer013 {
	display:inline-block;
	height:223px;
	width:184px;
}
#_idContainer019, #_idContainer113 {
	display:inline-block;
	height:340px;
	width:264px;
}
#_idContainer021 {
	display:inline-block;
	height:396px;
	width:264px;
}
#_idContainer023 {
	display:inline-block;
	height:413px;
	width:264px;
}
#_idContainer025 {
	display:inline-block;
	height:395px;
	width:258px;
}
#_idContainer027 {
	display:inline-block;
	height:304px;
	width:540px;
}
#_idContainer030 {
	display:inline-block;
	height:375px;
	width:540px;
}
#_idContainer032 {
	display:inline-block;
	height:790px;
	width:1224px;
}
#_idContainer037 {
	display:inline-block;
	height:35px;
	width:264px;
}
#_idContainer044, #_idContainer096, #_idContainer180, #_idContainer209, #_idContainer216, #_idContainer225, #_idContainer252, #_idContainer309, #_idContainer327, #_idContainer369, #_idContainer386, #_idContainer407 {
	display:inline-block;
	height:269px;
	width:201px;
}
#_idContainer054 {
	display:inline-block;
	height:269px;
	width:296px;
}
#_idContainer055 {
	display:inline-block;
	height:256px;
	width:335px;
}
#_idContainer056, #_idContainer058 {
	display:inline-block;
	height:0px;
	position:relative;
	width:392px;
}
#_idContainer059 {
	display:inline-block;
	height:243px;
	width:324px;
}
#_idContainer060 {
	display:inline-block;
	height:311px;
	width:415px;
}
#_idContainer062 {
	display:inline-block;
	height:242px;
	width:200px;
}
#_idContainer070 {
	display:inline-block;
	height:299px;
	width:446px;
}
#_idContainer074 {
	display:inline-block;
	height:310px;
	width:243px;
}
#_idContainer078 {
	display:inline-block;
	height:198px;
	width:264px;
}
#_idContainer079 {
	display:inline-block;
	height:197px;
	width:264px;
}
#_idContainer083 {
	display:inline-block;
	height:265px;
	width:540px;
}
#_idContainer086 {
	display:inline-block;
	height:187px;
	width:264px;
}
#_idContainer091, #_idContainer092 {
	display:inline-block;
	height:150px;
	width:270px;
}
#_idContainer093 {
	display:inline-block;
	height:590px;
	width:380px;
}
#_idContainer095 {
	display:inline-block;
	height:81px;
	width:300px;
}
#_idContainer104 {
	display:inline-block;
	height:270px;
	width:536px;
}
#_idContainer106, #_idContainer416, #_idContainer418 {
	display:inline-block;
	height:305px;
	width:236px;
}
#_idContainer108 {
	display:inline-block;
	height:235px;
	width:336px;
}
#_idContainer110, #_idContainer111, #_idContainer127 {
	display:inline-block;
	height:0px;
	position:relative;
	width:272px;
}
#_idContainer115 {
	display:inline-block;
	height:340px;
	width:260px;
}
#_idContainer116, #_idContainer118 {
	display:inline-block;
	height:0px;
	position:relative;
	width:166px;
}
#_idContainer119 {
	display:inline-block;
	height:374px;
	width:540px;
}
#_idContainer121, #_idContainer123 {
	display:inline-block;
	height:0px;
	position:relative;
	width:291px;
}
#_idContainer124 {
	display:inline-block;
	height:637px;
	width:264px;
}
#_idContainer125, #_idContainer291, #_idContainer302 {
	display:inline-block;
	height:0px;
	position:relative;
	width:274px;
}
#_idContainer129 {
	display:inline-block;
	height:254px;
	width:161px;
}
#_idContainer132 {
	display:inline-block;
	height:0px;
	position:relative;
	width:15px;
}
#_idContainer137 {
	display:inline-block;
	height:348px;
	width:207px;
}
#_idContainer139 {
	display:inline-block;
	height:200px;
	width:207px;
}
#_idContainer146 {
	display:inline-block;
	height:239px;
	width:201px;
}
#_idContainer153 {
	display:inline-block;
	height:232px;
	width:236px;
}
#_idContainer155, #_idContainer157 {
	display:inline-block;
	height:0px;
	position:relative;
	width:267px;
}
#_idContainer158 {
	display:inline-block;
	height:209px;
	width:312px;
}
#_idContainer161 {
	display:inline-block;
	height:269px;
	width:196px;
}
#_idContainer168 {
	display:inline-block;
	height:376px;
	width:540px;
}
#_idContainer170, #_idContainer172 {
	display:inline-block;
	height:0px;
	position:relative;
	width:300px;
}
#_idContainer173 {
	display:inline-block;
	height:315px;
	width:540px;
}
#_idContainer174 {
	display:inline-block;
	height:305px;
	position:relative;
	width:540px;
}
#_idContainer188 {
	display:inline-block;
	height:116px;
	width:540px;
}
#_idContainer190 {
	display:inline-block;
	height:369px;
	width:264px;
}
#_idContainer192 {
	display:inline-block;
	height:370px;
	width:260px;
}
#_idContainer194, #_idContainer196, #_idContainer201, #_idContainer202 {
	display:inline-block;
	height:0px;
	position:relative;
	width:0px;
}
#_idContainer195, #_idContainer200 {
	display:inline-block;
	height:346px;
	width:264px;
}
#_idContainer198 {
	display:inline-block;
	height:229px;
	width:345px;
}
#_idContainer204 {
	display:inline-block;
	height:155px;
	width:250px;
}
#_idContainer211 {
	display:inline-block;
	height:191px;
	width:204px;
}
#_idContainer218 {
	display:inline-block;
	height:207px;
	width:201px;
}
#_idContainer232 {
	display:inline-block;
	height:456px;
	width:303px;
}
#_idContainer234 {
	display:inline-block;
	height:197px;
	width:115px;
}
#_idContainer235 {
	display:inline-block;
	height:352px;
	width:234px;
}
#_idContainer237 {
	display:inline-block;
	height:352px;
	width:264px;
}
#_idContainer239 {
	display:inline-block;
	height:461px;
	width:289px;
}
#_idContainer241 {
	display:inline-block;
	height:607px;
	width:391px;
}
#_idContainer243 {
	display:inline-block;
	height:470px;
	width:352px;
}
#_idContainer245 {
	display:inline-block;
	height:600px;
	width:429px;
}
#_idContainer247 {
	display:inline-block;
	height:466px;
	width:311px;
}
#_idContainer250 {
	display:inline-block;
	height:402px;
	width:268px;
}
#_idContainer251 {
	display:inline-block;
	height:86px;
	width:300px;
}
#_idContainer260 {
	display:inline-block;
	height:252px;
	width:540px;
}
#_idContainer262 {
	display:inline-block;
	height:149px;
	width:264px;
}
#_idContainer264 {
	display:inline-block;
	height:121px;
	width:264px;
}
#_idContainer266 {
	display:inline-block;
	height:175px;
	width:264px;
}
#_idContainer268 {
	display:inline-block;
	height:251px;
	width:264px;
}
#_idContainer270 {
	display:inline-block;
	height:159px;
	width:258px;
}
#_idContainer272 {
	display:inline-block;
	height:154px;
	width:257px;
}
#_idContainer274 {
	display:inline-block;
	height:154px;
	width:258px;
}
#_idContainer277 {
	display:inline-block;
	height:269px;
	width:204px;
}
#_idContainer283 {
	display:inline-block;
	height:373px;
	width:264px;
}
#_idContainer285 {
	display:inline-block;
	height:318px;
	width:540px;
}
#_idContainer287, #_idContainer289 {
	display:inline-block;
	height:0px;
	position:relative;
	width:344px;
}
#_idContainer290, #_idContainer304 {
	display:inline-block;
	height:0px;
	position:relative;
	width:273px;
}
#_idContainer293 {
	display:inline-block;
	height:298px;
	width:540px;
}
#_idContainer295, #_idContainer297 {
	display:inline-block;
	height:0px;
	position:relative;
	width:310px;
}
#_idContainer298 {
	display:inline-block;
	height:444px;
	width:540px;
}
#_idContainer300 {
	display:inline-block;
	height:269px;
	width:341px;
}
#_idContainer305 {
	display:inline-block;
	height:0px;
	position:relative;
	width:316px;
}
#_idContainer307 {
	display:inline-block;
	height:0px;
	position:relative;
	width:313px;
}
#_idContainer311 {
	display:inline-block;
	height:199px;
	width:201px;
}
#_idContainer318 {
	display:inline-block;
	height:179px;
	width:201px;
}
#_idContainer320 {
	display:inline-block;
	height:261px;
	width:201px;
}
#_idContainer325 {
	display:inline-block;
	height:194px;
	width:208px;
}
#_idContainer333 {
	display:inline-block;
	height:235px;
	width:201px;
}
#_idContainer334 {
	display:inline-block;
	height:295px;
	width:540px;
}
#_idContainer339 {
	display:inline-block;
	height:295px;
	width:234px;
}
#_idContainer344 {
	display:inline-block;
	height:193px;
	position:relative;
	width:273px;
}
#_idContainer347 {
	display:inline-block;
	height:0px;
	position:relative;
	width:350px;
}
#_idContainer348 {
	display:inline-block;
	height:0px;
	position:relative;
	width:347px;
}
#_idContainer349 {
	display:inline-block;
	height:259px;
	width:394px;
}
#_idContainer351, #_idContainer352, #_idContainer361, #_idContainer363 {
	display:inline-block;
	height:0px;
	position:relative;
	width:323px;
}
#_idContainer354 {
	display:inline-block;
	height:241px;
	width:344px;
}
#_idContainer356, #_idContainer358 {
	display:inline-block;
	height:0px;
	position:relative;
	width:191px;
}
#_idContainer364 {
	display:inline-block;
	height:419px;
	width:540px;
}
#_idContainer366 {
	display:inline-block;
	height:191px;
	width:294px;
}
#_idContainer378 {
	display:inline-block;
	height:246px;
	width:172px;
}
#_idContainer379, #_idContainer381 {
	display:inline-block;
	height:0px;
	position:relative;
	width:282px;
}
#_idContainer382 {
	display:inline-block;
	height:243px;
	width:236px;
}
#_idContainer383 {
	display:inline-block;
	height:502px;
	width:299px;
}
#_idContainer384 {
	display:inline-block;
	height:409px;
	width:237px;
}
#_idContainer395 {
	display:inline-block;
	height:259px;
	width:307px;
}
#_idContainer397 {
	display:inline-block;
	height:176px;
	width:271px;
}
#_idContainer399, #_idContainer401 {
	display:inline-block;
	height:0px;
	position:relative;
	width:240px;
}
#_idContainer402 {
	display:inline-block;
	height:336px;
	width:245px;
}
#_idContainer404 {
	display:inline-block;
	height:251px;
	width:456px;
}
#_idContainer414 {
	display:inline-block;
	height:131px;
	width:539px;
}
#_idContainer420 {
	display:inline-block;
	height:320px;
	width:540px;
}
#_idContainer423 {
	display:inline-block;
	height:258px;
	width:201px;
}
#_idContainer430, #_idContainer432 {
	display:inline-block;
	height:0px;
	position:relative;
	width:348px;
}
#_idContainer433 {
	display:inline-block;
	height:274px;
	width:223px;
}
#_idContainer434 {
	display:inline-block;
	height:486px;
	width:230px;
}
#_idContainer436 {
	display:inline-block;
	height:243px;
	width:365px;
}
#_idContainer437 {
	display:inline-block;
	height:254px;
	width:172px;
}
#_idContainer439 {
	display:inline-block;
	height:0px;
	position:relative;
	width:376px;
}
#_idContainer440 {
	display:inline-block;
	height:0px;
	position:relative;
	width:375px;
}
#_idContainer441 {
	display:inline-block;
	height:195px;
	width:293px;
}
#_idContainer443 {
	display:inline-block;
	height:354px;
	width:264px;
}
#_idContainer446 {
	display:inline-block;
	height:17px;
	width:540px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:20px;
	width:19px;
}
img._idGenObjectAttribute-3 {
	height:2048px;
	width:2048px;
}
div._idGenObjectStyleOverride-1 {
	background-color:#efebe0;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-3 {
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-5 {
	background-color:#a7bb94;
}
div._idGenObjectStyleOverride-6 {
	background-color:#d4d4d4;
	border-width:0px;
}
div._idGenObjectStyleOverride-7 {
	background-color:#d4d4d4;
	border-color:#d4d4d4;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-8 {
	border-color:#00aeef;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-9 {
	border-color:#d4d4d4;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
