body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Letter-V_rootstalk_Lead-Pages_Bios {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Lead-Pages_Body-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:24px;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Lead-Pages_Page-Headings--titles- {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.917;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Running-Header {
	color:#414042;
	font-family:Times, serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Normal {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Normal--Web- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:5px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.TOC-Heading {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Art-Captions {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:12px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Body-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:24px;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Interview-Paragraphs {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:36px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-36px;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Page-Headings--titles- {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.917;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Running-Header {
	color:#414042;
	font-family:Times, serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.usetheseAuthor {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:24px;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.usetheseAuthors {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:72px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-36px;
	text-transform:none;
	widows:1;
}
p.usetheseTitles {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:36px;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-24px;
	text-transform:none;
	widows:1;
}
span.Author-Name {
	font-family:"Kannada MN", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.Drop-Cap {
	font-family:"Bell MT Regular", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Hyperlink {
	color:#215e9e;
	text-decoration:underline;
}
span.LeadPageTitles {
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Letter-V_Author-Name {
	font-family:"Kannada MN", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.Letter-V_Drop-Cap {
	font-family:"Bell MT Regular", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Letter-V_LeadPageTitles {
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.TOC-page-numbers {
	font-family:"Minion Pro", serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	margin-left:0px;
}
p.ParaOverride-3 {
	text-align:left;
}
p.ParaOverride-4 {
	margin-left:48px;
}
p.ParaOverride-5 {
	margin-left:73px;
	text-align:right;
}
p.ParaOverride-6 {
	text-align:right;
}
p.ParaOverride-7 {
	margin-top:0px;
}
p.ParaOverride-8 {
	margin-top:0px;
	text-align:left;
}
p.ParaOverride-9 {
	margin-left:32px;
	text-align:right;
	text-indent:-22px;
}
p.ParaOverride-10 {
	margin-left:32px;
	text-align:left;
	text-indent:-22px;
}
p.ParaOverride-11 {
	-epub-hyphens:none;
}
p.ParaOverride-12 {
	text-align:justify;
	text-align-last:left;
	text-indent:24px;
}
p.ParaOverride-13 {
	margin-bottom:0px;
	margin-top:0px;
	text-align:justify;
	text-align-last:left;
	text-indent:24px;
}
p.ParaOverride-14 {
	-epub-hyphens:none;
	margin-left:0px;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-15 {
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-16 {
	margin-left:1px;
}
p.ParaOverride-17 {
	margin-left:36px;
	text-indent:29px;
}
p.ParaOverride-18 {
	margin-left:0px;
	text-align:justify;
	text-align-last:center;
}
p.ParaOverride-19 {
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-20 {
	text-indent:0px;
}
p.ParaOverride-21 {
	text-align:justify;
	text-align-last:center;
}
p.ParaOverride-22 {
	text-indent:24px;
}
p.ParaOverride-23 {
	margin-left:12px;
}
p.ParaOverride-24 {
	margin-left:0px;
	text-indent:24px;
}
p.ParaOverride-25 {
	margin-left:36px;
	text-indent:-36px;
}
p.ParaOverride-26 {
	margin-left:36px;
}
p.ParaOverride-27 {
	margin-bottom:6px;
	text-indent:0px;
}
span.CharOverride-1 {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-family:"Times New Roman", serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:"Minion Pro Italic", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	font-family:"Minion Pro Bold Cond Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-6 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-7 {
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-8 {
	font-family:"Minion Pro Bold", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-10 {
	font-size:11px;
}
span.CharOverride-11 {
	font-size:18px;
	text-decoration:underline;
}
span.CharOverride-12 {
	font-size:18px;
}
span.CharOverride-13 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-14 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-15 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	vertical-align:super;
}
span.CharOverride-16 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-17 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-18 {
	-webkit-text-combine:none;
	color:#215e9e;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-19 {
	font-family:"Minion Pro Bold Italic", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-20 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro Bold Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-21 {
	font-family:"Kannada MN", sans-serif;
	font-size:46px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-22 {
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-23 {
	font-family:"Kannada MN", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-24 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-25 {
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-26 {
	font-family:"Kannada MN", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-27 {
	font-family:"Kannada MN", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-28 {
	font-size:12px;
}
span.CharOverride-29 {
	color:#414042;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-30 {
	font-size:11px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-31 {
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-32 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-33 {
	color:#414042;
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-34 {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-35 {
	-webkit-text-combine:none;
	color:#414042;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-36 {
	font-size:11px;
	font-variant:small-caps;
	text-transform:none;
}
span.CharOverride-37 {
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-38 {
	color:#414042;
	font-family:"Kannada MN", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-39 {
	font-family:"Kannada MN", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-40 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-41 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-42 {
	font-size:16px;
	text-decoration:underline;
}
span.CharOverride-43 {
	font-size:16px;
}
span.CharOverride-44 {
	font-size:22px;
}
span.CharOverride-45 {
	font-family:"Minion Pro", serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-46 {
	font-size:14px;
	vertical-align:super;
}
span.CharOverride-47 {
	font-size:23px;
}
span.CharOverride-48 {
	color:#414042;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-49 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-50 {
	color:#000000;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-51 {
	font-size:24px;
}
span.CharOverride-52 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-53 {
	font-family:"Minion Variable Concept", serif;
	font-variation-settings:"opsz" 12, "wght" 400;
}
span.CharOverride-54 {
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-55 {
	font-family:"Minion Variable Concept", serif;
	font-variation-settings:"opsz" 11, "wght" 400;
}
span.CharOverride-56 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-57 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-58 {
	font-family:"Times New Roman", serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
	vertical-align:super;
}
span.CharOverride-59 {
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-60 {
	font-family:"Minion Pro", serif;
	font-size:58%;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
._idGenDropcap-1 {
	float:left;
	font-size:2.846em;
	line-height:1;
	margin-bottom:-0.273em;
	margin-right:0.05em;
	margin-top:-0.074em;
}
._idGenDropcap-2 {
	float:left;
	font-family:"Bell MT Regular", sans-serif;
	font-size:2.78em;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:-0.25em;
	margin-right:0.05em;
	margin-top:-0.073em;
}
#_idContainer000 {
	display:inline-block;
	height:790px;
	position:relative;
	width:610px;
}
#_idContainer001 {
	display:inline-block;
	height:180px;
	width:539px;
}
#_idContainer003 {
	display:inline-block;
	height:448px;
	width:320px;
}
#_idContainer005, #_idContainer009, #_idContainer112 {
	display:inline-block;
	height:20px;
	width:184px;
}
#_idContainer012, #_idContainer036, #_idContainer061, #_idContainer069, #_idContainer078, #_idContainer092, #_idContainer109, #_idContainer140, #_idContainer148, #_idContainer156, #_idContainer189, #_idContainer197, #_idContainer205, #_idContainer213, #_idContainer218 {
	display:inline-block;
	height:86px;
	width:295px;
}
#_idContainer015 {
	display:inline-block;
	height:223px;
	width:184px;
}
#_idContainer021 {
	display:inline-block;
	height:113px;
	width:395px;
}
#_idContainer023 {
	display:inline-block;
	height:278px;
	overflow:hidden;
	width:272px;
}
#_idContainer025 {
	display:inline-block;
	height:305px;
	width:361px;
}
#_idContainer027 {
	display:inline-block;
	height:790px;
	width:1224px;
}
#_idContainer032 {
	display:inline-block;
	height:35px;
	width:264px;
}
#_idContainer037 {
	display:inline-block;
	height:242px;
	width:200px;
}
#_idContainer044 {
	display:inline-block;
	height:299px;
	width:446px;
}
#_idContainer046 {
	display:inline-block;
	height:310px;
	width:243px;
}
#_idContainer049 {
	display:inline-block;
	height:198px;
	width:264px;
}
#_idContainer050 {
	display:inline-block;
	height:197px;
	width:264px;
}
#_idContainer052 {
	display:inline-block;
	height:265px;
	width:540px;
}
#_idContainer054 {
	display:inline-block;
	height:187px;
	width:264px;
}
#_idContainer057, #_idContainer058 {
	display:inline-block;
	height:150px;
	width:270px;
}
#_idContainer059 {
	display:inline-block;
	height:590px;
	width:380px;
}
#_idContainer062 {
	display:inline-block;
	height:254px;
	width:161px;
}
#_idContainer065 {
	display:inline-block;
	height:0px;
	position:relative;
	width:15px;
}
#_idContainer070 {
	display:inline-block;
	height:348px;
	width:207px;
}
#_idContainer072 {
	display:inline-block;
	height:200px;
	width:207px;
}
#_idContainer079 {
	display:inline-block;
	height:239px;
	width:201px;
}
#_idContainer086 {
	display:inline-block;
	height:232px;
	width:236px;
}
#_idContainer088, #_idContainer090 {
	display:inline-block;
	height:0px;
	position:relative;
	width:267px;
}
#_idContainer091 {
	display:inline-block;
	height:209px;
	width:312px;
}
#_idContainer094 {
	display:inline-block;
	height:269px;
	width:196px;
}
#_idContainer101 {
	display:inline-block;
	height:376px;
	width:540px;
}
#_idContainer103, #_idContainer105 {
	display:inline-block;
	height:0px;
	position:relative;
	width:300px;
}
#_idContainer106 {
	display:inline-block;
	height:315px;
	width:540px;
}
#_idContainer107 {
	display:inline-block;
	height:305px;
	position:relative;
	width:540px;
}
#_idContainer113, #_idContainer142, #_idContainer149, #_idContainer190, #_idContainer208, #_idContainer219 {
	display:inline-block;
	height:269px;
	width:201px;
}
#_idContainer121 {
	display:inline-block;
	height:116px;
	width:540px;
}
#_idContainer123 {
	display:inline-block;
	height:369px;
	width:264px;
}
#_idContainer125 {
	display:inline-block;
	height:370px;
	width:260px;
}
#_idContainer127, #_idContainer129, #_idContainer134, #_idContainer135 {
	display:inline-block;
	height:0px;
	position:relative;
	width:0px;
}
#_idContainer128, #_idContainer133 {
	display:inline-block;
	height:346px;
	width:264px;
}
#_idContainer131 {
	display:inline-block;
	height:229px;
	width:345px;
}
#_idContainer137 {
	display:inline-block;
	height:155px;
	width:250px;
}
#_idContainer144 {
	display:inline-block;
	height:191px;
	width:204px;
}
#_idContainer151 {
	display:inline-block;
	height:207px;
	width:201px;
}
#_idContainer158 {
	display:inline-block;
	height:269px;
	width:204px;
}
#_idContainer164 {
	display:inline-block;
	height:373px;
	width:264px;
}
#_idContainer166 {
	display:inline-block;
	height:318px;
	width:540px;
}
#_idContainer168, #_idContainer170 {
	display:inline-block;
	height:0px;
	position:relative;
	width:344px;
}
#_idContainer171, #_idContainer185 {
	display:inline-block;
	height:0px;
	position:relative;
	width:273px;
}
#_idContainer172, #_idContainer183 {
	display:inline-block;
	height:0px;
	position:relative;
	width:274px;
}
#_idContainer174 {
	display:inline-block;
	height:298px;
	width:540px;
}
#_idContainer176, #_idContainer178 {
	display:inline-block;
	height:0px;
	position:relative;
	width:310px;
}
#_idContainer179 {
	display:inline-block;
	height:444px;
	width:540px;
}
#_idContainer181 {
	display:inline-block;
	height:269px;
	width:341px;
}
#_idContainer186 {
	display:inline-block;
	height:0px;
	position:relative;
	width:316px;
}
#_idContainer188 {
	display:inline-block;
	height:0px;
	position:relative;
	width:313px;
}
#_idContainer192 {
	display:inline-block;
	height:199px;
	width:201px;
}
#_idContainer199 {
	display:inline-block;
	height:179px;
	width:201px;
}
#_idContainer201 {
	display:inline-block;
	height:261px;
	width:201px;
}
#_idContainer206 {
	display:inline-block;
	height:194px;
	width:208px;
}
#_idContainer214 {
	display:inline-block;
	height:235px;
	width:201px;
}
#_idContainer215 {
	display:inline-block;
	height:305px;
	width:540px;
}
#_idContainer228 {
	display:inline-block;
	height:259px;
	width:307px;
}
#_idContainer230 {
	display:inline-block;
	height:176px;
	width:271px;
}
#_idContainer232, #_idContainer234 {
	display:inline-block;
	height:0px;
	position:relative;
	width:240px;
}
#_idContainer235 {
	display:inline-block;
	height:336px;
	width:245px;
}
#_idContainer237 {
	display:inline-block;
	height:251px;
	width:456px;
}
#_idContainer241 {
	display:inline-block;
	height:17px;
	width:540px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:20px;
	width:19px;
}
img._idGenObjectAttribute-3 {
	-ms-transform:translate(7.274%,-1.298%) rotate(0.000deg) skew(0.000deg) scale(0.854,1.012);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(7.274%,-1.298%) rotate(0.000deg) skew(0.000deg) scale(0.854,1.012);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	min-width:100%;
	transform:translate(7.274%,-1.298%) rotate(0.000deg) skew(0.000deg) scale(0.854,1.012);
	transform:translate(7.274%,-1.298%) rotate(0.000deg) skew(0.000deg) scale(0.854,1.012);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
img._idGenObjectAttribute-4 {
	height:2048px;
	width:2048px;
}
div._idGenObjectStyleOverride-1 {
	background-color:#efebe0;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-3 {
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-5 {
	background-color:#a7bb94;
}
div._idGenObjectStyleOverride-6 {
	background-color:#d4d4d4;
	border-width:0px;
}
div._idGenObjectStyleOverride-7 {
	background-color:#d4d4d4;
	border-color:#d4d4d4;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-8 {
	border-color:#00aeef;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
